@import "../utilidades/mixin";
@import "../utilidades/variables";

.menu-burgers {
    @include grid (1fr, auto 5fr 1fr auto 5fr 1fr auto 5fr 1fr auto 5fr);
    width: 80%;
    margin-left: 10%;
    img {
        max-width: 95%;
    }
    div {
        align-content: center;
        text-align: center;
        font-weight: 600;
        margin-bottom: 10%;
        font-size: 14px;
    }
}

.item-img4 {
    margin-left: 15%;
}

hr {
    margin: 0;
    padding: 0;
}

.item-option {
    font-weight: 100;
    margin-top: 5px;
}